@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-100.woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-300.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-400.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-500.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'yantramanav';
  src: url('../fonts/yantramanav-v6-latin-ext_latin_devanagari-900.woff2');
  font-weight: 900;
}